$nav-width: 214px;
$nav-height: 76px;
$nav-speed: .3s;

$sidebar-width-small: 250px;
$sidebar-width-large: 350px;

$break-small: 540;

$gutter-small: 20px;
$gutter-medium: 30px;

$color-darken: rgba(0, 0, 0, .5);
$color-darken-darker: rgba(0, 0, 0, .85);
$color-lighten: rgba(255, 255, 255, .1);
$color-grid-border: #ededed;
$color-grid-ad-background: #fafafa;
$color-grid-empty-background: #f9f9f9;

$animation-transition: .45s;

$product-grid-width-thin: 510px;
$product-grid-width-wide: 1020px;
