// Here typography styles for renew year 2021 page
@import url("https://use.typekit.net/rdu2ntg.css");
.theme-renew-year-2021 .main-page-title {
	font-family:"quiche-sans";
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 48px;
	letter-spacing: 1px;

	@screen md {
		font-weight: 300;
		font-size: 74px;
		line-height: 88px;
	}

	@screen ml {
		font-size: 84px;
		line-height: 100px;
	}
}

.theme-main-2020.theme-renew-year-2021 .text-big {
	font-size: 15px;
	line-height: 23px;

	@screen md {
		line-height: 24px;
	}

	@screen xl {
		font-size: 19px;
		line-height: 33px;
	}
}

.theme-renew-year-2021 .page-title {
	font-family:"quiche-sans";
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	line-height: 46px;
	letter-spacing: 0.5px;

	@screen ml {
		font-size: 65px;
		line-height: 72px;
	}
}

.theme-renew-year-2021 .headline {
	font-family:"quiche-sans";
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	letter-spacing: 0.5px;

	@screen md {
		font-size: 56px;
		line-height: 68px;
	}

	@screen ml {
		font-size: 56px;
		line-height: 68px;
	}
}

.theme-renew-year-2021 .text-tag {
	font-size: 11px!important;
}
