# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[Jenkinsfile]
indent_size = 4
indent_style = space

[*.groovy]
indent_size = 4
indent_style = space


[*Dockerfile*]
indent_size = 4
indent_style = space

