
.recipe-header-image {

  &--sponsor {
    max-width: 1170px;
    margin: auto;
    @media( min-width: break($recipe-break) ) {
      padding-bottom: 560px;
      width: 100%;
      overflow: hidden;
      object-fit: cover;
    }
  }

}


.recipe-header-image__elem {
  &--video {
    display: none;
    @media( min-width: break($recipe-break) ) {
      display: block;
      position: relative;
      z-index: 1;
    }
  }
  &--image {
    z-index: 0;
  }
  .recipe--sponsored & {
    width: 100%;
    @media( min-width: break($recipe-break) ) {
      position: absolute;
    }
  }

}
