.alt-sponsor {
    width: 50%;
    margin: 0 auto;
    margin: 20px auto 50px;
    max-width: 100px;
}

.alt-sponsor__sponsor-logo {
    max-width: 100%;
}

.wellness-experts__story.alt-spotlight__excerpt {
    margin-bottom: 0;
}