@import './text-and-image.front.scss';

.acf-text-and-image {
  @apply border border-tan border-solid;
  padding: 20px 30px;
}

.acf-text-and-image__inner .block-editor-block-list__layout {
  h1, h2, h3, h4, h5, h6 {
    @extend %text-h1;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 40px !important;
    line-height: 1em !important;
    font-style: italic !important;
  }
}

.acf-text-and-image__img {
  max-width: 50%;
  min-width: 50%;
  margin-left: 50px;
  overflow: hidden;
}

.acf-text-and-image__img__padding {
  padding-bottom: 82%;
  overflow: hidden;
}