.btn.filled.trends-2020__btn {
  background: $terracotta_1;
  color: $white !important;
  border:none;
  box-shadow: none;
  margin-top:22px;
  transition:0.3s;
  transform: translate3d(0,0,0);
  height: 44px;
  width: auto !important;
  line-height: 1em !important;
  min-width: 102px;
  padding:0;
  padding-left:16px;
  padding-right: 16px;
  display:inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  &:hover,
  &:focus {
    background: $terracotta_2;
    -webkit-box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.1);
    box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.1);
    transform: translate3d(-1px,-1px,0);
    color: $white !important;
  }
  &:visited,
  &:active {
    color: $white !important;
  }
}