// colors
$white: #ffffff;
$black: #000000;
$grey_dark: #202020;
$grey_light: #d8d8d8;
$maroon: #660e34;
$terracotta_1: #e36853;
$terracotta_2: #e66a54;
$bg_gradient: linear-gradient(-180deg, $maroon 0%, $terracotta_1 100%);
