.trends-2021-related-posts .related-content {
  background: none;
}

.trends-2021-related-posts  .related-content__card {
  width: 100% !important;
  display: flex;
  position: relative;
  align-items: flex-start !important;

  @screen sm {
      width: 48% !important;
      align-items: unset !important;
  }
}

.trends-2021-related-posts .related-content__card * {
  color: inherit;
}

.trends-2021-related-posts.text-white .text-seafoam-dark {
  color: white !important;
  opacity: 0.7;
}