.all-topics {
  color: $black;
}

.all-topics__header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 105px;

	@media (min-width: break($s)) {
    height: 165px;
  }
}

.all-topics__title {
  @extend %page-title,
    %page-title--extra-large;
  
  margin: 0 auto;
  display: inline-block;
}

.all-topics__topics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all-topics__topic-title {
  @include transition(color);
  @extend %page-title,
    %page-title--small;

  margin: 8px 0 2px;
  text-decoration: none;
  display: inline-block;
  line-height: 30px;
}

.all-topics__topic-description {
  font-family: $freight;
  font-weight: 500;
  font-size: 14px;
}

.all-topics__topic-thumbnail {
  @include transition(opacity);
  
  width: 100%;
  height: 186px;
  position: relative;

	@media (min-width: break($s)) {
    height: 286px;
  }
}

.all-topics__topic,
.all-topics__email,
.all-topics__blank {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;

	@media (min-width: break($s)) {
    width: 49%;
    margin-bottom: 40px;
  }

	@media (min-width: break($m)) {
    width: 32%;
  }
}

.all-topics__topic {
  &:hover {
    & .all-topics__topic-thumbnail {
      @include transition(opacity);

      opacity: 0.9;
    }

    & .all-topics__topic-title {
      @include transition(color);

      color: $hover;
    }
  }
}

.all-topics__email {
  background-color: $tan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-topics__email-headline {
  font-family: $sans-serif-extra-condensed;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.all-topics__email-subhead {
  font-family: $freight;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  max-width: 275px;
}


.all-topics__blank {
  height: 0;
}
