$sans-serif: 'acumin-pro', 'Acumin Pro', sans-serif;
$sans-serif-condensed: 'acumin-pro-condensed', 'Acumin Pro Condensed', sans-serif;
$sans-serif-extra-condensed: 'acumin-pro-extra-condensed', 'Acumin Pro ExtraCondensed', sans-serif;
$green: #25453f;
