.update-ad-cats {
    padding: 90px;
    width: 500px;
    margin: 0 auto;
}

.update-ad-cats-head {
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.update-ad-cats-success,
.update-ad-cats-issue,
.update-ad-cats-error {
    position: relative;
    padding: 10px 0;
}
