@responsive {
  .h-viewport {
    height: 100vh;
    height: calc(100vh - #{$header-height});

    @media( min-width: break($ml) ) {
      height: calc(100vh - #{$header-height-tablet});
    }

    @media (min-width: break($header-break)) {
      height: calc(100vh - #{$header-height-desktop});
    }
  }

  .min-h-viewport {
    min-height: 100vh;
    min-height: calc(100vh - #{$header-height});

    @media( min-width: break($ml) ) {
      min-height: calc(100vh - #{$header-height-tablet});
    }

    @media (min-width: break($header-break)) {
      min-height: calc(100vh - #{$header-height-desktop});
    }
  }

  .min-h-viewport-1\/2 {
    min-height: 50vh;
    min-height: calc(50vh - #{$header-height});

    @media( min-width: break($ml) ) {
      min-height: calc(50vh - #{$header-height-tablet});
    }

    @media (min-width: break($header-break)) {
      min-height: calc(50vh - #{$header-height-desktop});
    }
  }

  .max-h-viewport {
    max-height: 100vh;
    max-height: calc(100vh - #{$header-height});

    @media( min-width: break($ml) ) {
      max-height: calc(100vh - #{$header-height-tablet});
    }

    @media (min-width: break($header-break)) {
      max-height: calc(100vh - #{$header-height-desktop});
    }
  }

  .max-h-viewport-1\/2 {
    max-height: 50vh;
    max-height: calc(50vh - #{$header-height});

    @media( min-width: break($ml) ) {
      max-height: calc(50vh - #{$header-height-tablet});
    }

    @media (min-width: break($header-break)) {
      max-height: calc(50vh - #{$header-height-desktop});
    }
  }

  .max-h-viewport-3\/4 {
    max-height: 75vh;
    max-height: calc(75vh - #{$header-height});

    @media( min-width: break($ml) ) {
      max-height: calc(75vh - #{$header-height-tablet});
    }

    @media (min-width: break($header-break)) {
      max-height: calc(75vh - #{$header-height-desktop});
    }
  }

  .w-viewport {
    width: 100vw;
  }

  .w-viewport-1\/2 {
    width: 50vw;
  }

  .min-w-viewport {
    min-width: 100vw;
  }
  .min-w-viewport-1\/2 {
    min-width: 50vw;
  }

}